@model BasaDate.Models.IndexViewModel
@{
    ViewBag.Title = "Привет";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Как проходит твой день?</h4>
    <hr />
    


    
</div>
